
<ion-view view-title="" hide-nav-bar="true" id="account">
  <div class="head-portrait">
    <div class="account-user-pic">
      <img class="loginimg" ng-src="{{images || 'img/home/ssc_lottery.png'}}" ng-click="pickImage()"/>
      <p class="name">{{user.phone || user.email}}</p>
    </div>
  </div>
  <ion-content class="has-tabs">
    <div style="height: 203px"></div>
    <div class="program list">
      <div class="part item" ui-sref="my-scheme">
        <img src="img/account/program.png" alt="">
        <span>我的方案</span>
      </div>
      <div class="part item" ui-sref="modification-password">
        <img src="img/account/lock.png" alt="">
        <span>修改密码</span>
      </div>
      <div class="part item" ng-click="goBindPhone()">
        <img src="img/account/bind_phone.png" alt="">
        <span>绑定手机</span>
      </div>
      <div class="part item" ui-sref="my-message">
        <img src="img/account/program.png" alt="">
        <span>我的消息</span>
      </div>
      <div class="part item" ng-click="openModal()">
        <img src="img/account/service.png" alt="">
        <span>联系客服</span>
      </div>
      <div class="part item" ng-click="loginout()">
        <img src="img/account/exit.png" alt="">
        <span>退出登录</span>
      </div>
    </div>

  </ion-content>
</ion-view>
